<%- include("partials/header") %>
    <title>Student Record Management</title>
<%- include("partials/navigation") %>
</head>
<body>
    <div class="container mx-auto">
        <div class="card">
            <div class="card-body">
                <div class="row justify-content-between">
                    <div class="col-5">
                        <h1>Parents' Portal: <%= name %> </h1>
                    </div>
                    <div class="col-2">
                        <a href="/logout" class="btn btn-lg btn-danger">Logout</a>
                    </div>
                </div>
            </div>
        </div>
        <p>Please click <a href="/parentspage">this link </a>to view current student's records.</p>
        <p>To ensure that student's data are kept safe, please remember to logout by clicking the <i>Logout</i> button when finished.</p>
        <p>Admin, the development page is <a href="/development">here</a>.</p>
    </div>
<%- include("partials/footer") %>