<%- include("partials/header") %>
    <title>SRM Admin</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"></head>
<body>
    <div class="container p-5">
        <h1 class="text-center mb-5 text-uppercase text-muted">SRM Login</h1>
        <div class="row">
          <div class="col"></div>
          <div class="col-sm-6 bg-light border rounded py-3">
                <h2 class="text-center">Login</h2>
                <form action="" method="POST">
                    <div class="form-group">
                      <label for="_email">Email</label>
                      <input type="text" name="user_email" id="_email" class="form-control" placeholder="Email" rnodeequired>
                    </div>
                    <div class="form-group">
                      <label for="_pass">Password</label>
                      <input type="password" name="user_pass" id="_pass" class="form-control" placeholder="Password" required>
                    </div>
                    <% if (locals.login_errors) { 
                      login_errors.forEach(function(error_msg){ %>
                      <div class="alert alert-danger" role="alert"><%= error_msg %></div>
                    <% });
                    } %>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
            <div class="col"></div>
        </div>
    </div>
    <%- include("partials/footer") %>