<%- include("partials/header") %>
    <title>Student Record Management Login</title>
<%- include("partials/navigation") %>
  </head>
<body>
    <div class="container mx-auto">
        <h1 class="text-center mb-5 text-uppercase text-muted">SRM Parent's Portal</h1>
        <div class="row">
          <div class="col"></div>
          <div class="col-sm-6 bg-light border rounded py-3">
                <h2 class="text-center">Login</h2>
                <form action="" method="POST">
                    <div class="form-group">
                      <label for="_email">Email</label>
                      <input type="text" name="user_email" id="_email" class="form-control" placeholder="Email" rnodeequired>
                    </div>
                    <div class="form-group">
                      <label for="_pass">Password</label>
                      <input type="password" name="user_pass" id="_pass" class="form-control" placeholder="Password" required>
                    </div>
                    <% if (locals.login_errors) { 
                      login_errors.forEach(function(error_msg){ %>
                      <div class="alert alert-danger" role="alert"><%= error_msg %></div>
                    <% });
                    } %>
                    <button type="submit" class="btn btn-primary">Login</button>
                    <p>Click <a href="/register">this link </a>to register a new user</p>
                </form>
            </div>
            <div class="col"></div>
        </div>
    </div>
<%- include("partials/footer") %>